<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>{{{styles}}}</style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <div class="meta">Company: {{company_code}} | {{period_label}}</div>
    <div class="meta">Basis: Accrual basis</div>
    <div class="integrity">Reconciled: {{reconciled}}</div>

    <h2>Operating Activities</h2>
    <table>
      <thead>
        <tr>
          <th>Label</th>
          <th>Type</th>
          <th>Subtype</th>
          <th class="amount">Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each operating_lines}}
          <tr>
            <td>{{label}}</td>
            <td>{{account_type}}</td>
            <td>{{account_subtype}}</td>
            <td class="amount">{{amount}}</td>
          </tr>
        {{else}}
          <tr><td colspan="4" class="empty">No data.</td></tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Operating Total</th>
          <th class="amount">{{operating_total}}</th>
        </tr>
      </tfoot>
    </table>

    <h2>Investing Activities</h2>
    <table>
      <thead>
        <tr>
          <th>Label</th>
          <th>Type</th>
          <th>Subtype</th>
          <th class="amount">Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each investing_lines}}
          <tr>
            <td>{{label}}</td>
            <td>{{account_type}}</td>
            <td>{{account_subtype}}</td>
            <td class="amount">{{amount}}</td>
          </tr>
        {{else}}
          <tr><td colspan="4" class="empty">No data.</td></tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Investing Total</th>
          <th class="amount">{{investing_total}}</th>
        </tr>
      </tfoot>
    </table>

    <h2>Financing Activities</h2>
    <table>
      <thead>
        <tr>
          <th>Label</th>
          <th>Type</th>
          <th>Subtype</th>
          <th class="amount">Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each financing_lines}}
          <tr>
            <td>{{label}}</td>
            <td>{{account_type}}</td>
            <td>{{account_subtype}}</td>
            <td class="amount">{{amount}}</td>
          </tr>
        {{else}}
          <tr><td colspan="4" class="empty">No data.</td></tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Financing Total</th>
          <th class="amount">{{financing_total}}</th>
        </tr>
      </tfoot>
    </table>

    <table>
      <tbody>
        <tr><th>Net Cash Change</th><td class="amount">{{net_cash_change}}</td></tr>
        <tr><th>Cash at Start</th><td class="amount">{{cash_at_start}}</td></tr>
        <tr><th>Cash at End</th><td class="amount">{{cash_at_end}}</td></tr>
        <tr><th>Unclassified Leg Count</th><td class="amount">{{unclassified_leg_count}}</td></tr>
      </tbody>
    </table>
  </body>
</html>
